<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  <meta name="description" content="NEM に関する日本語の説明書です。">
  <meta name="author" content="@tomotomo_9696">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="NEMの説明書" />
  <meta name="twitter:description" content="NEM に関する日本語の説明書です。" />
  <meta name="twitter:image" content="http://nemmanual.net/images/logo120px.png" />
  {% if page.title == "Top" %}
  <title>{{ site.title }}</title>
  {% else %}
  <title>{{ site.title }} - {{ page.title }}</title>
  {% endif %}
  <!-- Bootstrap Core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/css/simple-sidebar.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
</head>
